body {
    background: rgba(0, 0, 0, 0.8);
}


/* Desktop screen */

@media only screen and (min-width: 1224px) and (orientation: landscape) {

    .search__container {
        margin: 10px 40px 40px 0;
    }

    .search__title {
        font-size: 22px;
        font-weight: 900;
        text-align: center;
        color: #ff8b88;
    }

    .search__input {
        width: 100%;
        padding: 12px 34px;
        background-color: background-color: #f3f4f7;
        transition: transform 250ms ease-in-out;
        font-size: 14px;
        line-height: 18px;
        background-image: url('../img/core-img/search.png');
        background-repeat: no-repeat;
        background-size: 18px 18px;
        background-position: 95% center;
        cursor: pointer;
        border-radius: 50px;
        border: 1px solid #fff;
        transition: all 250ms ease-in-out;
        backface-visibility: hidden;
        transform-style: preserve-3d;
    }

    .search__input::placeholder {
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }

    .search__input:hover,
    .search__input:focus {
        padding: 12px 40px 12px 22px;
        outline: 0;
        border: 1px solid transparent;
        border-bottom: 1px solid #575756;
        border-radius: 0;
        background-position: 100% center;
    }



    .new-file label {
        cursor: pointer;
        margin-left: 45%;
        margin-top: 10%;
    }

    .new-file #addFile {
        opacity: 0;
        position: absolute;
        z-index: -1;
    }


    .footer-container {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 10px;
    }

    .text-white {
        margin: 10px 0 0 0;
        padding: 0;
        text-align: center;
        font-size: 17px;
    }
}


/* Ipad screen size */

@media only screen and (max-width: 1024px) and (orientation: landscape) {

    .search__container {
        margin: 10px 40px 40px 0;
    }

    .search__title {
        font-size: 22px;
        font-weight: 900;
        text-align: center;
        color: #ff8b88;
    }

    .search__input {
        width: 100%;
        padding: 12px 34px;
        background-color: background-color: #f3f4f7;
        transition: transform 250ms ease-in-out;
        font-size: 14px;
        line-height: 18px;
        background-image: url('../img/core-img/search.png');
        background-repeat: no-repeat;
        background-size: 18px 18px;
        background-position: 95% center;
        cursor: pointer;
        border-radius: 50px;
        border: 1px solid #fff;
        transition: all 250ms ease-in-out;
        backface-visibility: hidden;
        transform-style: preserve-3d;
    }

    .search__input::placeholder {
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }

    .search__input:hover,
    .search__input:focus {
        padding: 12px 40px 12px 22px;
        outline: 0;
        border: 1px solid transparent;
        border-bottom: 1px solid #575756;
        border-radius: 0;
        background-position: 100% center;
    }



    .new-file label {
        cursor: pointer;
        margin-left: 45%;
        margin-top: 10%;
    }

    .new-file #addFile {
        opacity: 0;
        position: absolute;
        z-index: -1;
    }


    .footer-container {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 10px;
    }

    .text-white {
        margin: 10px 0 0 0;
        padding: 0;
        text-align: center;
        font-size: 17px;
    }
}


/* Mobile screen size */

@media only screen and (max-width: 700px) and (orientation: portrait) {

   
    .search__container {
        margin: 10% 0 10% -120%;
    }

    .search__title {
        font-size: 22px;
        font-weight: 900;
        text-align: center;
        color: #ff8b88;
    }

    .search__input {
        width: 100%;
        padding: 12px 34px;
        background-color: background-color: #f3f4f7;
        transition: transform 250ms ease-in-out;
        font-size: 14px;
        line-height: 18px;
        background-image: url('../img/core-img/search.png');
        background-repeat: no-repeat;
        background-size: 18px 18px;
        background-position: 95% center;
        cursor: pointer;
        border-radius: 50px;
        border: 1px solid #fff;
        transition: all 250ms ease-in-out;
        backface-visibility: hidden;
        transform-style: preserve-3d;
    }

    .search__input::placeholder {
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }

    .search__input:hover,
    .search__input:focus {
        padding: 12px 40px 12px 22px;
        outline: 0;
        border: 1px solid transparent;
        border-bottom: 1px solid #575756;
        border-radius: 0;
        background-position: 100% center;
    }



    .new-file label {
        cursor: pointer;
        margin-left: 45%;
        margin-top: 40%;
    }

    .new-file #addFile {
        opacity: 0;
        position: absolute;
        z-index: -1;
    }


    .footer-container {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 10px;
    }

    .text-white {
        margin: 10px 0 0 0;
        padding: 0;
        text-align: center;
        font-size: 17px;
    }
}


/* Small phone screen size*/

@media only screen and (min-width: 300px) and (orientation: portrait) {

    .search__container {
        margin: 10% 0 10% -120%;
    }

    .search__title {
        font-size: 22px;
        font-weight: 900;
        text-align: center;
        color: #ff8b88;
    }

    .search__input {
        width: 100%;
        padding: 12px 34px;
        background-color: background-color: #f3f4f7;
        transition: transform 250ms ease-in-out;
        font-size: 14px;
        line-height: 18px;
        background-image: url('../img/core-img/search.png');
        background-repeat: no-repeat;
        background-size: 18px 18px;
        background-position: 95% center;
        cursor: pointer;
        border-radius: 50px;
        border: 1px solid #fff;
        transition: all 250ms ease-in-out;
        backface-visibility: hidden;
        transform-style: preserve-3d;
    }

    .search__input::placeholder {
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }

    .search__input:hover,
    .search__input:focus {
        padding: 12px 40px 12px 22px;
        outline: 0;
        border: 1px solid transparent;
        border-bottom: 1px solid #575756;
        border-radius: 0;
        background-position: 100% center;
    }



    .new-file label {
        cursor: pointer;
        margin-left: 45%;
        margin-top: 40%;
    }

    .new-file #addFile {
        opacity: 0;
        position: absolute;
        z-index: -1;
    }


    .footer-container {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 10px;
    }

    .text-white {
        margin: 10px 0 0 0;
        padding: 0;
        text-align: center;
        font-size: 17px;
    }
}