<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="img/core-img/kexi_icon.ico">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="css/files.css">

    <title>KEXI | Files </title>
</head>

<body>

    <!-- Header starts -->
    <header class="header-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="menu-area d-flex justify-content-between">
                        <!-- Logo Area  -->
                        <div class="logo-area">
                            <a href="index.html">KEXI</a>
                        </div>

                        <div class="menu-content-area d-flex align-items-center">
                            <!-- Header Menu Area -->
                            <div class="search__container">
                                <input class="search__input" type="text" name="search" id="search" placeholder="Search">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header ends -->





    <main class="main-container">

        <form method="POST" action="/upload" enctype="multipart/form-data" class="form">

            <div class="new-file left">
                <label class="btn btn-success add" for="files"> Choose File</label>
                <input type="file" id="files" name="files" multiple/>
            </div>

            <div class="files-container center" id="selectedFiles">

            </div>

            <div class="upload right">
                <input type="submit" name="uplod_button" value="Upload" class="btn btn-success" />
            </div>
        </form>

        <!-- <form action="/AllFiles" method="GET">
        
           
        </form> -->

        <table class="table table-striped table-dark">

            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Size</th>
                    <th>Uploaded At</th>
                </tr>
            </thead>
            <tbody>
                <% details.forEach(file => { %>
                    <tr>
                            <td><%=file.file_name%></td>
                           <td><%=file.file_type%></td>
                           <td><%=file.file_size%></td>
                           <td><%=file.uploaded_at%></td>
                        </tr>
               <% }); %>                       
           </tbody>
        </table>

    </main>
    <!-- ***** Footer Area Start ***** -->
    <footer class="footer">
            <p class="text-white">Copyright &copy;<script>
                    document.write(new Date().getFullYear());
                </script> &nbsp; KEXI CONSULT Ltd. All rights reserved.</p>
    </footer>
    <!-- ***** Footer Area End ***** -->

    <script src="./js/selectFiles.js"></script>
</body>

</html>